<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Posts App</title>
    <!--<link rel="stylesheet" th:href="@{/css/style.css}"/>-->
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Post object</h1>

    <div>
    <table>
        <tr>
            <th>User id:</th>
            <td th:text="${userId}"></td>
        </tr>
        <tr>
            <th>Title:</th>
            <td th:text="${title}"></td>
        </tr>
        <tr>
            <th>Body:</th>
            <td th:text="${body}"></td>
        </tr>
    </table>
    </div>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Gallery App</title>-->
    <!--&lt;!&ndash;<link rel="stylesheet" th:href="@{/style.css}">&ndash;&gt;-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
          <!--th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
            <!--crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
<!--</head>-->
<!--<body>-->
    <!--<div class="container-fluid" style="margin-top: 20px">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2">-->
                <!--<div class="panel panel-primary">-->

                    <!--<div class="panel-heading">-->
                        <!--<h1>Post object</h1>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="table-responsive" th:if="${not #lists.isEmpty(userId)}">-->
                            <!--<table>-->
                                <!--<tr>-->
                                    <!--<th th:width="70">User id:</th>-->
                                    <!--<td th:text="${userId}"></td>-->
                                <!--</tr>-->

                                <!--<tr>-->
                                    <!--<th th:width="70">Title:</th>-->
                                    <!--<td th:text="${title}"></td>-->
                                <!--</tr>-->

                                <!--<tr>-->
                                    <!--<th th:width="70" th:align="">Body:</th>-->
                                    <!--<td th:text="${body}"></td>-->
                                <!--</tr>-->

                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->